
.icon-search:before { content: '\e800'; } /* '' */
.icon-down:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-plus-1:before { content: '\e804'; } /* '' */