@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean");

/* 공통 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  font-size: 10px;
  font-family: "Noto Sans KR", "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #2e3035;
  height: 100vh;
}
.wrap {
  position: relative;
  top: 0;
  left: 0;
}
.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  padding: 0px 10px;
  z-index: 100;
}
.header_wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}
.logo a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
.logo img {
  width: 40px;
  height: 40px;
}
.logo span {
  color: #111;
  font-size: 1.4rem;
  margin-left: 10px;
}
.logo p:last-child {
  font-weight: 400;
  font-size: 1.3rem;
}

.header_form {
  border-radius: 50px;
  background-color: #eee;
  margin-left: 20px;
  flex-grow: 2;
  height: 44px;
}

.header_form input {
  background-color: rgba(0, 0, 0, 0);
  width: 80%;
}
.gnb_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1.4rem;
  color: #777;
  font-weight: 500;
}
.gnb_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.gnb_menu * {
  padding: 10px 10px;
  margin: auto;
}
.gnb_menu *:hover {
  color: #111;
}
.add {
  position: relative;
}
.add .sub_menu {
  display: none;
}
.add.show .sub_menu {
  display: block;
  position: absolute;
  top: 50px;
  width: 300px;
  height: auto;
  background-color: #111;
  border-radius: 3px;
  color: #fff;
  z-index: 100;
}
.add.show .sub_menu li:hover {
  color: rgba(255, 255, 255, 0.8);
}
.gnb_quick {
  margin: auto;
}
.gnb_quick * {
  margin-left: 30px;
}
.left {
  position: relative;
}
.left::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #777;
  position: absolute;
  top: 0;
  left: -30px;
}
.gnb_quick a {
  text-align: center;
}

/* nav */
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 1.5rem;
  align-self: center;
  color: #777;
}
.nav > a {
  width: auto;
  text-align: center;
  align-self: center;
  position: relative;
}
.nav > a.active {
  color: #111;
}
.editorial::before {
  content: "";
  width: 1px;
  height: 30px;
  background-color: #aaa;
  position: absolute;
  top: -5px;
  right: -20px;
}
.nav > a.active::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #111;
}
.nav > a:last-child {
  width: 100px;
}
.nav_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: calc(100% + 10px);
  box-sizing: initial;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 20px;
  padding-bottom: 20px;
  position: relative;
}
.view::before {
  content: "";
  position: fixed;
  top: 70px;
  right: 100px;
  width: 200px;
  height: 65px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}
.nav_menu > li {
  display: flex;
  width: auto;
  margin: 0 10px;
  align-self: flex-end;
}
.nav_menu > li a {
  align-items: center;
  height: 100%;
  white-space: nowrap;
}
.nav_menu p {
  color: #999;
  font-weight: 300;
  display: block;
  font-size: 1.2rem;
}
.nav_menu .title {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: bottom;
}

/* 메인 */
.main {
  position: relative;
  top: 130px;
  width: 100%;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url("./main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 2;
}
.main .container {
  position: absolute;
  width: 800px;
  top: 20%;
  left: 25%;
  margin: 0 auto;
}
.title_wrap {
  color: #fff;
}
.title_wrap .title {
  font-size: 5em;
  font-weight: bold;
}
.title_wrap .text {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 2rem 0;
}
.text span {
  opacity: 0.8;
  text-decoration: underline;
}
.main form {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.tag_wrap {
  margin-top: 30px;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.tag_wrap ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.tag_wrap ul li {
  padding-left: 8px;
  opacity: 0.8;
}

.link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 10px;
  color: #fff;
  padding: 0px 10px;
  font-size: 1.4rem;
}
.link a {
  opacity: 0.8;
}
.link span {
  opacity: 1;
}

/* card */
.card_wrap {
  position: relative;
  top: 200px;
  width: 1300px;
  margin: 0 auto;
}
.card_wrap .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
.container .image {
  flex-basis: 420px;
  max-height: 100%;
  height: 100%;
  font-size: 6rem;
  position: relative;
  overflow: hidden;
}
.container img {
  max-width: 100%;
  width: 100%;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
}
.btn-menu {
  margin: 10px;
  z-index: 102;
}
.btn-menu button {
  background-color: #fff;
  border-radius: 2px;
  color: #aaa;

  padding: 4px 6px;
  font-size: 2rem;
  vertical-align: top;
  opacity: 0.95;
}
.btn-menu button:hover {
  color: #111;
  opacity: 1;
}
/* sponsord */
.sponsored {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.sponsored img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sponsored .company_title {
  font-size: 1.5rem;
  color: #fff;
  margin-left: 10px;
}
.info {
  /* display: none; */
}
/* popup */
.show {
  display: none;
}
.popup_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 101;
}
.popup_wrap .container {
  position: relative;
  width: 90%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
}
.pop_header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  padding: 10px;
  width: 90%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 103;
}
.user_item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.user_item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #eee;
}
.user_item .company_title {
  font-size: 1.5rem;
  color: #111;
  font-weight: 500;
  margin-left: 10px;
}
.user_item .company_title p:last-child {
  font-weight: 300;
  color: #777;
  font-size: 1.2rem;
}
.popup_wrap .container .image img {
  height: 90vh;
  width: auto;
  margin: 0 auto;
  display: block;
  padding-top: 100px;
}
.popup_wrap button {
  border: 1px solid #aaa;
}
.popup_wrap button:hover {
  border: 1px solid #111;
}

.btn-info {
  position: absolute;
  z-index: 200;
  right: 10px;
}
.btn-info .btn-white {
  margin-right: 0;
}

/* 아이콘 */
.icon-search {
  height: 100%;
  padding: 0 10px;
  color: #777;
  font-size: 2.4rem;
  vertical-align: middle;
}
.icon-cancel {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 4rem;
  padding: 10px;
}

.prev {
  font-size: 3rem;
  color: #fff;
  position: fixed;
  top: 300px;
  left: 30px;
  cursor: pointer;
}
.next {
  font-size: 3rem;
  color: #fff;
  position: fixed;
  top: 300px;
  right: 30px;
  cursor: pointer;
}
/* 버튼 */
.btn {
  padding: 7px 10px;
  font-size: 1.4rem;
  border-radius: 5px;
}
.btn-white {
  color: #777;
  background-color: #fff;
  border: 1px solid #777;
  margin-right: 30px;
}
.btn-white:hover {
  color: #111;
  background-color: #fff;
  border: 1px solid #111;
}
.btn-mint {
  color: #fff;
  background-color: #3cb46e;
}
.btn-mint:hover {
  background-color: #37a866;
}

/* 폼 */
input {
  border: 0;
  font-size: 1.5rem;
  color: #777;
  font-weight: 400;
  padding: 10px 0;
  width: 80%;
  vertical-align: middle;
  height: 44px;
}
